section.articles.projects {
	width: 100%;
	margin-top: 140px;
    margin-left: 85px;
	cursor: ns-resize;
	position: fixed;
	h1 {
		font-size: 60px;
		font-weight: 900;
		text-transform: uppercase;
		display: block;
		width: 100%;
		margin: 15px 0;
		text-align: left;
		padding-left: 28px;
		font-family: $sans;
		letter-spacing: 2px;
		line-height: 1.2;
		a { 
			-webkit-text-stroke: 2px black;
			color: white;
			cursor: ns-resize;
			transition: color 0.2s ease;
      &:hover {
          -webkit-text-stroke: 2px $highlight;
          cursor: pointer;
      }
		}
		small {
			display: none;
			font-size: 0.2em;
			margin-left: 30px;
		}
		&.active {
			cursor: ns-resize;
			small {
				display: inline-block;
			}
			a {
				color: black; 
				-webkit-text-stroke: 0px;
			}
		}
	}
  .services {
		h3 {
			margin-top: 0;
			margin-bottom: 25px;
		}
		ul {
			list-style: none;
			padding: 0;
        margin-top: 25px;
			li {
				font-weight: bold;
				text-transform: uppercase;
        border: 3px solid $highlight;
        color: $highlight;
        font-family: $serif;
        display: inline-block;

        font-size: 0.75em;
          padding: 5px 8px;
          margin-bottom: 8px;
          font-weight: 300;
          margin-right: 20px;
			}
		}
	}
	.article {
		padding-left: 0;
		padding: 0 20px;
		margin-top: 0;
		transition: all 0.2s ease;
		margin-bottom: 30px; 
		.hero {
			position: relative;
			width: 100%;
			height: 100px !important;
			left: auto;
			margin-bottom: 40px;
			top: auto;
			transition: all 0.2s ease;
			img {
				height: auto;
				width: 100%;
			}
			&:before {
				opacity: 0.8;
				transition: all 0.2s ease;
			}
		}
		&:hover {
			.hero {
				height: 120px !important;
				margin-top: -10px;
				&:before {
					opacity: 0;
					transition: all 0.2s ease;
				}
			}
		}
	}
}

section.articles.project {
	> p {
		margin-top: -30px;
	}
	h1.page-header {
		margin-bottom: 0px;
	}
	.article {
		padding-left: 0;
		margin-top: 40px;
		cursor: auto; 
	}
	.featured {
		img {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.services {
		h3 {
			margin-top: 0;
			margin-bottom: 25px;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	.markdown {
		h3 {
			margin-top: 0;
		}
	}
}